.comics-col{
    height: 500px;
    width: 100%;
    background-color: rgba(23, 7, 141, 0.249);
    margin-bottom: 20px;
    margin: 10px;
    border: 2px solid black;
    color: whitesmoke;
    border-radius: 10px;

}

.thumb-comic{
    width: 200px;
}

.comics-riga{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;

}

.comics-contenitore{
    width: 1200px;
    margin: 0 auto;
}

.info{
    
}